<div id="footerContainer">
	{% userId := hf.blogInfo.UserId %}
	<div class="container" id="footer">
        <div class="col-md-4">
          <h3>导航</h3>
          <ul>
          	<li><a href="{{ hf.indexUrl }}">主页</a></li>
          	{% for cate in hf.cates %}
			<li>
				<a href="{{ hf.cateUrl }}/{{ cate.UrlTitle }}">{{ cate.Title }}</a>
			</li>
			{%  endfor  %}
			<!-- 单页 -->
			{% for single in hf.singles %}
			    <li class="{%  ifequal hf.curSingleId cate.SingleId %}active{%  endifequal  %}">
					<a href="{{ hf.singleUrl }}/ {{ cate.UrlTitle }}">{{ cate.Title }}</a>
				</li>
			{% endfor %}

			<!-- 归档 -->
			<li class="{% if hf.curIsArchive  %}active{%  endif  %}">
				<a href="{{  hf.archiveUrl }}">归档</a>
			</li>
			<li class="{% if hf.curIsTags %}active{% endif %}">
				<a href="{{ hf.tagsUrl }}">标签</a>
			</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>最近发表</h3>
          <ul>
          	{% for post in recentPosts %}
          	<li title="{{ post.Title }}"><a href="{{ hf.postUrl }}/{{ post.UrlTitle }}">{{ post.Title }}</a></li>
          	{% endfor %}
          </ul>
       </div>
        <div class="col-md-4">
          <h3>友情链接 </h3>
          <ul>
          	{% if hf.themeInfo.FriendLinks %}
          		{% for link in hf.themeInfo.FriendLinks %}
					<li><a href="{{ link.Url }}" target="_blank">{{ post.Title }}</a></li>
          		{% endfor %}
          	{% endif %}
		 </ul>
        </div>
    </div>
    <div class="footer-leanote">Proudly powered by <a href="https://leanote.com">Leanote</a></div>
</div>
<script src="{{ hf.jQueryUrl }}"></script>
<script src="{{ hf.bootstrapJsUrl }}"></script>
<script src="{{ hf.siteUrl }}/js/bootstrap-hover-dropdown.js"></script>
<script>
// 搜索
function search(e) {
	var keywords = hf("#searchInput").val();
	if(!keywords) {
		location.href = "{{ hf.searchUrl }}";
	} else {
		var tpl = '<form action="{{ hf.searchUrl }}" method="get">';
		tpl += '<input name="keywords" value="' + keywords + '" />';
		tpl += "</form";
		hf(tpl).submit();
	}
}
</script>
