{% extends "blog/base.html" %}
{% load custom_markdown %}
{% block content %}
<div id="posts">
    {% for article in articles %}
    <div class="each-post">
        <div class="title">
            <a href="http://blog.leanote.com/post/2997215859/8060701fdacd" title="全文">
                {{ article.title }}
            </a>
        </div>
        <div class="created-time">
            <i class="fa fa-bookmark-o"></i>
            <a class="label label-default label-post" href="http://blog.leanote.com/tag/2997215859/python">python</a>
            <a class="label label-default label-post" href="http://blog.leanote.com/tag/2997215859/django">django</a>
            &nbsp;&nbsp;
            <i class="fa fa-clock-o"></i> {{ article.pub_time | date:"Y-m-d H:i:s" }}
            &nbsp;&nbsp;
            <span class="fa fa-eye"></span> 1 &nbsp;&nbsp;
            <span class="fa fa-thumbs-o-up"></span> 0 &nbsp;&nbsp;
        &nbsp;&nbsp;<span class="fa fa-comments-o"></span> 0 &nbsp;&nbsp;
        </div>
        <div class="desc">
            <div>
                <div id="wmd-preview" class="preview-content"></div>
                <div id="wmd-preview-section-117" class="wmd-preview-section preview-content">
                    <div class="se-section-delimiter"></div>
                    <p>
                    {{ article.content | custom_markdown | truncatechars:500 }}
                    </p>
                </div>
            </div>
        </div>
        <div id="moreContainer">
            <a class="more" href="http://blog.leanote.com/post/2997215859/8060701fdacd" title="全文">查看</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}