{% extends "blog/base.html" %}

{% block content %}
<div class="posts">
    {% for article in articles%}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ article.title }}</h2>

                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ article.date_time }}</a> <a class="post-category post-category-js" href="#">{{ article.category }}</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ article.content }}
                    </p>
                    <a class="pure-button" href="{% url "blog:article_page" article_id=article.id %}">Read More >>> </a>
                </div>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}